*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FONDO ANIMADO */
body{
    background: linear-gradient(-45deg, #1e3a8a, #0f172a, #1e40af, #1e293b);
    background-size: 400% 400%;
    animation: fondoAnimado 12s ease infinite;
    color: white;
}

/* BARRAS ANIMADAS LATERALES */
body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 12px;
    height: 100%;
    background: linear-gradient(to bottom, #60a5fa, #1e40af);
    animation: brillo 3s infinite alternate;
    z-index: 1;
}

body::before { left: 0; }
body::after { right: 0; }

@keyframes brillo {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

/* HEADER */
header{
    background:#1e3a8a;
    padding:20px;
    text-align:center;
    animation: aparecer 1.5s ease;
}

/* NAV */
nav{
    background:#0f172a;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav ul li{
    position:relative;
}

nav ul li a{
    display:block;
    padding:15px 25px;
    color:white;
    text-decoration:none;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    background:#1e40af;
    transform: scale(1.05);
}

/* MENÚ DESPLEGABLE */
nav ul li ul{
    position:absolute;
    top:50px;
    left:0;
    background:#1e293b;
    display:none;
    flex-direction:column;
    min-width:180px;
}

nav ul li:hover ul{
    display:block;
    animation: aparecer 0.4s ease;
}

nav ul li ul li a{
    padding:12px;
}

/* HERO */
.hero{
    background:url("../Imagen/Imagen3.webp") no-repeat center center/cover;
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h2{
    background:rgba(114, 121, 219, 0.521);
    padding:20px;
    border-radius:10px;
    animation: aparecer 2s ease;
}

/* SECCIÓN */
.contenido{
    padding:40px;
    text-align:center;
    animation: aparecer 2s ease;
}

.contenido img{
    width:300px;
    margin:20px;
    border-radius:10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.contenido img:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
}

/* FOOTER */
footer{
    background:#0f172a;
    text-align:center;
    padding:20px;
    margin-top:40px;
    animation: aparecer 2.5s ease;
}

/* ANIMACIONES */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fondoAnimado {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}